<div id="content-container">
  <div class="panel panel-default">
    <div class="panel-header">
      <h1 class="h1">{{aboutTitle}}</h1>
    </div>
    <div class="panel-body">
      <p>{{aboutBody}}</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-header">
      <h1 class="h1">{{linksTitle}}</h1>
    </div>
    <div class="panel-body">
      <a href="http://www.ucdmc.ucdavis.edu" class="col-md-2">
        <h4 class="h4">UC Davis Health</h4>
      </a>
      <a href="http://www.ucdmc.ucdavis.edu/crhd/" class="col-md-4">
        <h4 class="h4">UCD Center for Reducing Health Disparities</h4>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-header">
      <h1 class="h1">{{contactTitle}}</h1>
    </div>
    <div class="panel-body">
      <a href="mailto:teamsb6@gmail.com?Subject=Request%20from%20Web%20App" class="col-md-2">
        <h4 class="h4">SB6 Development Team</h4>
      </a>
    </div>
  </div>
</div>