<div id="content-container">
  <div class="row">
    <div class="col-md-3 panel panel-default">
      <div class="panel-header">
        <h2 class="h2 text-center">Search Criteria</h2>
      </div>
      <div class="panel-body">
        <p>
          {{ body }}
        </p>
      </div>
    </div>
    <div class="col-md-8 panel panel-default">
      <div class="panel-header">
        <h2 class="h2">Results</h2>
      </div>
        <br />
      <div class="panel-body">
        <h4 class="h4">You searched for: {{searchParam}}</h4>
      </div>
    </div>
  </div>
</div>